/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=number], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.forget {
  float: right;
  padding-top: 16px;
}

/* the new account text */
a.new{
  margin: 0 auto;
  display: block;
  text-align: center;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.forget {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

h1.troll{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 100px;
}
h2.gay{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 40px;
}

table{
font-family: Arial, Helvetica, sans-serif;
border-collapse: collapse;
width: 100%;
}

td,
th{
border: 1px solid rgb(212, 198, 198);
text-align: left;
padding: 8px;
}

tr:nth-child(even) {
background-color: rgb(212, 198, 198);
}

.backbtn{
  background-color: red;
  width: 50px;
}